<style>
body {
    background-color:#eeeeee;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size:18px;
    /**TEXT ABOUT SALE ONLY **/
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size:11px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size:15px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size:11px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:before,
.nav:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.nav:after {
  clear: both;
}
.nav:before,
.nav:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.nav:after {
  clear: both;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  margin-left: 13px;

}
.nav-tabs > li > a:hover {
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
  
a {
  color: #606060;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #606060;
  text-decoration: underline;
}

.tab-content > .tab-pane {
  height:445px;
  display: none;
  border: 1px solid #dddddd;
  padding:10px;

}
.tab-content > .active {
  display: block;
}

.tab-container1 {

}

.tab-container2 {

}

.section1 {
    background-color:#ffffff;
    float:left;
    width:500px;
    height:375px;
    margin-left:25px;
}

.section2 {
    background-color:#ffffff;
    float:left;
    width:500px;
    height:375px;
    margin-left:25px;

}

.tabimages {
    float:left;
    width:100px;
    padding-top:25px;
    padding-left:25px;
}

.tabtext {
    float:left;
    width:225px;
    padding-top:25px;
    padding-left:25px;
    list-style-type: none;
    text-decoration:none;
}

.saletabs {
    width:1050px;
    height:400px;
    margin-right:auto;
    margin-left:auto;
}

.headerimg {
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
}

</style>
<body>
    <div class="headerimg">
        <img src="http://images.rockymountainoils.com/cybermonday/banner.jpg" width="100%">
    </div>








    <div class="saletabs">
        <div class="section1">
            <div id="tab-container1">
                <ul class="nav nav-tabs">
                    <li class="tab-content"><a href="#tab1"><h2>Sacred</h2></a></li>
                    <li class="tab-content"><a href="#tab2"><h2>Basil</h2></a></li>
                    <li class="tab-content"><a href="#tab3"><h2>Black Cumin</h2></a></li>
                    <li class="tab-content"><a href="#tab4"><h2>Melissa</h2></a></li>
                    <li class="tab-content"><a href="#tab5"><h2>Euphoria</h2></a></li>
                </ul>

                    <div id="tab1">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tab2">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tab3">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tab4">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tab5">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
            </div>
        </div>

        <div class="section2">
            <div id="tab-container2">
                <ul class="nav nav-tabs">
                    <li class="tab-content"><a href="#taba"><h2>Cucumber</h2></a></li>
                    <li class="tab-content"><a href="#tabb"><h2>Purify</h2></a></li>
                    <li class="tab-content"><a href="#tabc"><h2>Peppermint</h2></a></li>
                    <li class="tab-content"><a href="#tabd"><h2>Relieve Me</h2></a></li>
                    <li class="tab-content"><a href="#tabe"><h2>Orange</h2></a></li>
                </ul>

                    <div id="taba">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tabb">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tabc">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tabd">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
                    <div id="tabe">
                        <div class="tabimages">
                            <img src="http://images.rockymountainoils.com/cybermonday/bottle.jpg"></div>
                        <div class="tabtext">
                            <h3>Product<strong> 10%Off</strong></h3>
                            <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul><ul>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                            <li><h3>bullet</h3></li>
                        </ul></ul></div></div>
            </div>
        </div>
    </div>

















<!-- for ::PRODUCTION only
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
    
<!-- for ::DEVELOPMENT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easytabs.min.js"></script>



    <script>
        $(document).click(function(){
            $('#tab-container1').easytabs({
                    animationSpeed: "fast",
                    cycle: (true, 2000)
                });

            $('#tab-container2').easytabs({
                    animationSpeed: "fast",
                    cycle: (true, 2000)
                });
        });
    </script>
</body>