<style>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	.lbody {
	}

	.main 
	{ margin:0px auto; width:100%; min-height:350px; background-color:#ffffff; background-repeat:repeat-y; border:1px solid #ffffff; text-align:left; }
	
		.lbody p {
			font-family: 'Lato', sans-serif;
			line-height:18px;
			font-weight:200;
			font-size:12px;
		}

		.lbody h1 {
			font-family: 'Lato', sans-serif;
			color:#606060;
			line-height:35px;
			font-weight:300;
			font-size:30px;
		}

		.lbody h2 {
			font-family: 'Lato', sans-serif;
			line-height:35px;
			font-weight:400;
			font-size:30px;
			text-align:center;
			padding-top:50px;
			padding-bottom:25px;
		}

		.lbody h3 {
			color:#ffffff;
			font-family: 'Lato', sans-serif;
			font-weight:100;
			font-size:14px;
			text-align:center;
		}

		.lbody h4 {
			font-family: 'Lato', sans-serif;
			font-weight:100;
			font-size:72px;
		}

		.lbody h5 {
			color:#ffffff;
			font-family: 'Lato', sans-serif;
			font-weight:300;
			font-size:14px;
			margin-top:0px;
			margin-bottom:30px;
			padding-left:5px;
		}

	.lwrapper {
		margin-left:auto;
		margin-right:auto;
	}

		.lbanner {
			height:600px;
			overflow:hidden;
		}

		.lgift {
			height:275px;
			margin-left:auto;
			margin-right:auto;
			padding-top:100px;
			width:960px;
		}

		.lgift p {
			color:#606060;
		}

				.lgifttext {
					float:left;
					height:275px;
					float:left;
					padding-top:20px;
					padding-right:70px;
				}

				.lgiftimage {
					float:left;
					padding-right:21px;
					text-align:left;
				}

				.lgift p {
					margin-top:0px;
				}

		.ltopwrapper {
			background-color:#efefef;
			height:700px;
			margin-left:auto;
			margin-right:auto;
			width:100%;
		}

			.ltopwrapper p {
				color:#606060;
			}

			.ltopwrapper h2 {
				color:#606060;
			}

			.ltop {
				height:700px;
				margin-left:auto;
				margin-right:auto;
				width:960px;
			}


				.lhugesection {
					float:left;
					height:225px;
					margin-left:60px;
					margin-right:60px;
					margin-bottom:40px;
				}	

				.lbutton {
					background-color:#33546d;
					float:left;
					width:200px;
					height:35px;
				}
					.lbutton h3 {
						color:#ffffff;
					}

				.lhugesection p {
					margin-top:5px;
					margin-left:5px;

				}

		.lmiddlewrapper {
			height:1300px;
			margin-left:auto;
			margin-right:auto;
			width:100%;
		}

			.lmiddle {
				height:1250px;
				margin-left:auto;
				margin-right:auto;
				width:960px;
			}

				.lnumbers {
					float:left;
					width:275px;
					padding-left:35px;
					
				}

				.lmiddle h2 {
					color:#000000;
				}

				.lmoresection {
					background-color:#33546d;
					float:left;
					height:160px;
					width:125px;
					margin-left:10px;
					margin-right:10px;
					margin-bottom:40px;
    				box-shadow: 0px 0px 5px #606060;
				}


				.lmoresection2 {
					background-color:#33546d;
					float:left;
					height:160px;
					width:125px;
					margin-left:10px;
					margin-right:40px;
					margin-bottom:40px;
  				 	box-shadow: 0px 0px 5px #606060;
				}

		.lfinewrapper{
			background-color:#33546d;
			width:100%;
			margin-left:auto;
			margin-right:auto;

		}

		.lfine {
			height:150px;
			width:600px;
			letter-spacing:2px;
			padding-top:10px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
		}

		.lfine p {
			color:#ffffff;
		}


	a {
		text-decoration:none;
	}

</style>
<div class="lbody">
		<div class="lbanner">
			<img src="#" height="600" alt="header-img" /></a>
		</div>
	<div class="lwrapper">












	</div>
	<div class="lfinewrapper">
	<div class="lfine"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div></div>
</div>