.ui-tabs-anchor {
  color:#;

}

.bannerimg {
  width:100%;
}


a {
  color: #606060;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #606060;
  text-decoration: underline;
}


  .sections {
    float:left;
    margin:10px 5px 10px 5px;
    width:370px;
  }

  .sections2 {
    float:left;
    margin:0px 5px 50px 5px;
    width:560px;
    }

  .sections3 {
    float:left;
    width:525px;
  }

  .sections4 {
  width:50%;
  float:left;
  background-color:#ffffff;
  border:none;
}

  .sections5 {
  height:345px;
  width:50%;
  float:left;
  background-color:#ffffff;
  border:none;
  margin-bottom:50px;
}

#footer {
  position: relative;
  background-color:#606060;
  margin-bottom: -125px; /* negative value of footer height */
  height: 125px;
  margin-top:20px;
  clear:both;
  width:100%;
} 

  #footer li {
    color:#ffffff;
    float:left;
    display:block;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
  }

  #footer a {
    color:#ffffff;
  }

    #footer p {
      text-align:center;
      width:200px;
      margin-left:auto;
      margin-right:auto;
      padding-top:75px;
      color:#404040;
    }

  .newcontainer {
    width:678px;
    margin-left:auto;
    margin-right:auto;
  }

.tab-content > .tab-pane {
  height:445px;
  display: none;
  border: 1px solid #dddddd;
  padding:10px;
}
.tab-content > .active {
  display: block;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  margin-top:15px;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
  margin-top:15px;
}